@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700;800;900&display=swap');

body,
html,
.container {
	height: 100%;
  font-family: 'Nunito', sans-serif;
}

body {
	background-color: black;
	background-image: url('clouds.jpg');
}

p {
	margin: 0;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.location,
.temp {
	font-size: 40px;
	font-weight: 800;
}

input {
  border: none;
    border-radius: 11px;
    height: 20px;
    padding: 7px;
    -webkit-appearance: none;
}